*{
    margin: 0px;
    padding: 0px;
    /*font-family: "Segoe UI",Arial,sans-serif;   */
    font-family: 'Roboto', sans-serif;
}


header {
width: 100%;
height: 175px;
position: relative;


}
#container_logo{
    position: relative;
    text-align: center;
    width: 650px;
    height: 125px ;
    margin: auto;
    top:50px;
    background-color:#CEBAB6;

}
#container_logo p{
    float: left;
    padding-top: 60px;
    padding-left: 30px;
    font-size: 14px;
    
}



#container_logo img{
    width: 210px;
    position: absolute;
    top: 33px;
    right: 35px;
    opacity: 1;
}

h1{
    clear: both;
    margin-top: 50px;
    text-align: center;
}


/* Navigation Bar */
nav{
    position: relative;
    background-color: #DF6873;
    height:35px;
    width: 650px;
    margin: auto;
    color: #fff;
    
    
}
nav ul{
    position: absolute;
    right: 60px;
    top: 7px;
    font-weight: 500;
    opacity: 0.9;
}
nav ul li{
    display: inline;
    padding-inline: 10px;
}
/*  End of Navigation Bar */

/* Phone Image  */
#container_phone {
        text-align: center;
        margin-top:50px ;
}

#container_phone img{
    width: 530px;
    height: 150px;
    margin: auto;

}
/*  End of Phone Image  */

#maincontainer_images{
    width: 100%;
    height: 250px;
    margin: auto;
    }
div .container_two_images{
    position: relative;
    width: 530px;
    height: 250px;px ;
    margin: auto;
    margin-top: 20px;

}
.container_two_images .fig1{
    float:left;
}
.container_two_images .fig1 img{
    width: 250px;
    height: 130px;
}



.container_two_images .fig2{
    position: absolute;
    top: 0px;
    right: 0px;
}
.container_two_images .fig2 img{
    width: 250px;
    height: 130px;
}   


figcaption{
    font-weight: bold;
    text-align: center;

    

}


footer{
     background-color:#CEBAB6;
     height: 100px;
     text-align: center;
     margin-top: 10px;
     padding-top: 10px;
     width: 650px;
     margin: auto;
     margin-bottom: 70px;
}

footer img{
    width: 130px;
}
footer figcaption{
    margin-top: 4px;
    font-size: 12px;
    font-weight: normal;
}
nav a{
    text-decoration: none;
}
nav a:link{
    color: #fff;
}

nav a:visited{
    color: #fff;
}
nav a:hover{
    color: silver;
}
nav a:active{
    color: burlywood;
}
